[Desktop Entry]
Type=Application
Version=0.1
Name=Alien Invasion: 2150
Comment=A spaceship game inspired by Space Invaders
Icon=alieninvasion
Exec=alieninvasion
Terminal=false
StartupNotify=false
Categories=Game;ArcadeGame;
